body{
    background-color: #F8F9FA;
    position:relative;
    top:70px;

}

img{
    width:100%;
}

.logoinstagram{
    width:100px;
}

.modal-header{
    border-bottom:none;
    height: 1px;
    padding: 0%;
}
.newpost{
    width: 468px;
    height: 50px;
}
.iconospost{
    margin-top: 15px;
    margin-right: 5px;
    border:solid 1px grey;
    padding: 3px;
    border-radius: 5px;
}